*{
    margin: 0;
    padding: 0;
}
div.menu{
    width: 1000px;
    height: 700px;
    margin: auto;
    border: 2px solid red;
    display: flex;
    // justify-content: center;
    // justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    div.box{
        width: 150px;
        height: 150px;
        border: 1px solid black;
        // padding: 50px;
        &:first-child{
            background: blue;
        }
        &:last-child{
            background: chartreuse;
        }
        &:nth-child(2){
            background: pink;
        }
        &:nth-child(odd){
            background-color: purple;
        }
        &:nth-child(even){
            background-color: saddlebrown;
        }
    }
}
#chess{
    display: flex;
    width: 800px;
    height: 800px;
    border: 1px solid #000;
    margin: auto;
    flex-wrap: wrap;
    span{
        display: block;
        width: 100px;
        height: 100px;
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(10),
        &:nth-child(12),
        &:nth-child(14),
        &:nth-child(16),
        &:nth-child(17),
        &:nth-child(19),
        &:nth-child(21),
        &:nth-child(23),
        &:nth-child(26),
        &:nth-child(28),
        &:nth-child(30),
        &:nth-child(32),
        &:nth-child(1),
        &:nth-child(1),
        &:nth-child(1),
        &:nth-child(1),
        &:nth-child(1),
        &:nth-child(1), {
            background-color: #000;
        }
    }
}