@import url("https://fonts.googleapis.com/css2?family=Montserrat:display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.col {
  display: flex;
  justify-content: space-between;
}

.col-md-4 {
  width: 33%;
}

.col-md-2 {
  width: 16.5%;
}

.col-md-1 {
  width: 8%;
}

body header {
  background-image: url("./img/header/75ae05112787439 1.jpg");
  height: 100vh;
  z-index: 9;
  background-size: cover;
  padding-top: 40px;
}
body header .container .nav-head {
  display: flex;
  justify-content: space-between;
}
body header .container .nav-head .brend img {
  width: 60px;
}
body header .container .nav-head .menu li {
  display: inline-block;
  padding: 5px 30px;
}
body header .container .nav-head .menu li a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
body header .container .nav-head .menu li select {
  background: none;
  outline: none;
  border: none;
  color: #888;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
body header .container .nav-body {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body header .container .nav-body h1 {
  max-width: 667px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
body header .container .nav-body a {
  margin-top: 50px;
  padding: 15px 76px;
  background-color: #114e86;
  display: inline-block;
  max-width: 250px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
body #about-me .container h1 {
  margin: 151px 0 36px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
}
body #about-me .container p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
}
body #haydovchilar {
  margin-bottom: 150px;
}
body #haydovchilar .container h2 {
  margin: 150px 0 85px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
}
body #haydovchilar .container .col {
  position: relative;
  width: 100%;
}
body #haydovchilar .container .col .control {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
body #haydovchilar .container .col .control.left {
  left: -20px;
}
body #haydovchilar .container .col .control.right {
  right: -60px;
}
body #haydovchilar .container .col .control:hover {
  cursor: pointer;
}
body #haydovchilar .container .col .col-md-4 {
  border-radius: 10px;
  padding: 46px 0 35px 0;
}
body #haydovchilar .container .col .col-md-4 .img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto 10px auto;
  border-radius: 50%;
}
body #haydovchilar .container .col .col-md-4 p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  margin: 10px 0 10px 50px;
}
body #haydovchilar .container .col .col-md-4 p span {
  font-weight: 700;
}
body #haydovchilar .container .col .col-md-4 .money {
  display: block;
  text-align: right;
  padding: 69px 35px 0 0;
  color: #114e86;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
body #haydovchilar .container .col .col-md-4:hover {
  background-color: #114e86;
}
body #haydovchilar .container .col .col-md-4:hover p {
  color: #fff;
}
body #haydovchilar .container .col .col-md-4:hover .money {
  color: #fff;
}
body footer {
  background-color: #181818;
  color: #fff;
  padding: 70px 0 44px 0;
}
body footer .container .footer-body .col-md-4 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
}
body footer .container .footer-body .col-md-4.contact p {
  width: 255px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
}
body footer .container .footer-body .col-md-4.contact p.tell, body footer .container .footer-body .col-md-4.contact p.mail {
  margin: 50px 0;
}
body footer .container .footer-body .col-md-4.footer-nav ul {
  margin-top: 35px;
  display: block;
}
body footer .container .footer-body .col-md-4.footer-nav ul li {
  padding: 15px 0;
}
body footer .container .footer-body .col-md-4.footer-nav ul li a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
}
body footer .container .footer-body .col-md-4.contact-me form input {
  outline: none !important;
  border: none !important;
  background-color: #c4c4c444;
  display: block !important;
  margin: 17.5px 0;
  width: 370px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.5px;
  color: #ffffffbb;
  padding: 18px 16px;
  border-radius: 8px;
}
body footer .container .footer-body .col-md-4.contact-me form button {
  border: 2px solid #fff;
  background-color: #ffffff00;
  display: block !important;
  margin: 17.5px 0;
  width: 370px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.5px;
  color: #ffffffbb;
  padding: 20px 149px;
  border-radius: 8px;
}
body footer .container .footer-body .col-md-4.contact-me form button:hover {
  cursor: pointer;
}
body footer .container .footer-footer {
  margin-top: 90px;
}
body footer .container .footer-footer .col-md-4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}
body footer .container .footer-footer .col-md-2 {
  display: flex;
  justify-content: space-between;
}
body footer .container .footer-footer .col-md-2 img:hover {
  cursor: pointer;
}
body .start-page {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
