@import url("https://fonts.googleapis.com/css2?family=Roboto:display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.col {
    display: flex;
    justify-content: space-between;
}
.col-md-3 {
    width: 25%;
}
.col-md-4 {
    width: 33%;
}
.col-md-5{
    width: 41%;
}
.col-md-6{
    width: 50%;
}
body {
    header {
        background-image: url(./img/headervictor-garcia-1263465-unsplash@1X.jpeg);
        background-size: cover;
        height: 100vh;
        padding-top: 25px;
        .container {
            .nav {
                display: flex;
                justify-content: space-between;
                .logo {
                    a {
                        font: {
                            family: "Roboto", sans-serif;
                            size: 20px;
                        }
                        span {
                            color: #927908;
                        }
                    }
                }
                ul.menu {
                    li {
                        padding: 1px 15px;
                        a {
                            font: {
                                family: "Roboto", sans-serif;
                                size: 18px;
                            }
                            &.active,
                            &:hover {
                                color: #b78601;
                            }
                        }
                    }
                }
            }
            .header {
                height: 80vh;
                display: flex;
                align-items: center;
                .container {
                    width: 100%;
                    h2 {
                        font: {
                            family: "Montserrat", sans-serif;
                            size: 45px;
                            weight: 300;
                        }
                    }
                    h1 {
                        font: {
                            family: "Montserrat", sans-serif;
                            size: 55px;
                            weight: 300;
                        }
                        margin-top: 70px;
                        margin-bottom: 35px;
                        color: #927908;
                    }
                    p {
                        margin-bottom: 50px;
                        font: {
                            family: "Montserrat", sans-serif;
                            size: 22px;
                            weight: 200;
                        }
                    }
                    a {
                        border: 2px solid #fff;
                        border-radius: 50px;
                        padding: 23px 73px 22px 75px;
                        font: {
                            family: "Montserrat", sans-serif;
                            size: 22px;
                        }
                        &:hover {
                            color: #927908;
                        }
                    }
                }
            }
        }
    }
    #gallery {
        margin-bottom: 70px;
        .container {
            h3 {
                color: #565656;
                margin: 152px 0 84px 0;
            }
            .art-gallery {
                .art-list {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 30px;
                }
            }
        }
    }
    #about-peoples {
        background-color: #181818;
        h2 {
            padding: 152px 0 101px 0;
            font: {
                family: "Roboto", sans-serif;
                size: 22px;
                weight: 300;
            }
        }
        .col {
            .col-md-4 {
                .img {
                    overflow: hidden;
                    width: 151px;
                    height: 151px;
                    margin: 0 auto;
                    border-radius: 50%;
                    img {
                        transform: translate(-10px, -20px);
                    }
                }
                h3 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 24px 0 27px 0;
                    span {
                        display: inline-block;
                        padding-left: 17px;
                        font: {
                            family: "Roboto", sans-serif;
                            size: 22px;
                            weight: 300;
                        }
                    }
                }
                p {
                    line-height: 30px;
                    font: {
                        family: "Roboto", sans-serif;
                        size: 18px;
                    }
                    text-align: center;
                    margin-bottom: 100px;
                }
            }
        }
    }
    #about-product {
        .container {
            h2 {
                margin: 151px 0 104px 0;
                color: #181818;
            }
            .col {
                .col-md-3 {
                    border: 1px solid #000;
                    margin: 0 14px;
                    background-color: #181818;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    img {
                        width: 100%;
                    }
                    h3 {
                        margin: 26px 0px 22px 32px;
                        font: {
                            family: "Roboto", sans-serif;
                            size: 18px;
                            weight: 700;
                        }
                    }
                    p {
                        margin: 0 53px 40px 32px;
                        font: {
                            family: "Roboto", sans-serif;
                            size: 15px;
                        }
                        line-height: 20px;
                    }
                }
            }
        }
    }
    #about-me {
        margin-top: 150px;
        background-image: url("./img/body-back-alesia-kazantceva-283291-unsplash@1X.jpeg");
        background-size: cover;
        .fon {
            padding-bottom: 101px;
            background-color: #181818aa;
            .container {
                h2 {
                    padding: 201px 0 37px 0;
                    font: {
                        family: "Roboto", sans-serif;
                        size: 75px;
                        weight: 700;
                    }
                }
                p {
                    font: {
                        family: "Roboto", sans-serif;
                        size: 20px;
                        weight: 300;
                    }
                    line-height: 25px;
                    padding-right: 200px;
                }
                .btn {
                    margin-top: 99px;
                    display: inline-block;
                    border: 2px solid #fff;
                    border-radius: 50px;
                    padding: 23px 73px 22px 75px;
                    font: {
                        family: "Montserrat", sans-serif;
                        size: 22px;
                    }
                    &:hover {
                        color: #927908;
                    }
                }
            }
        }
    }
    footer {
        background-color: #181818;
        padding: 100px 0 30px 0;
        .container {
            .col {
                .col-md-6 {
                    h2 {
                        padding: 0 0 35px 0;
                        font: {
                            family: "Roboto", sans-serif;
                            size: 20px;
                            weight:500;
                        }
                        span {
                            color: #927908;
                        }
                    }
                    p{
                        padding: 0 0 35px 0;
                        font: {
                            family: "Roboto", sans-serif;
                            size: 14px;
                            weight:500;
                        }
                        line-height: 19px;
                        span {
                            color: #927908;
                        }
                    }
                }
                .col-md-5{
                    ul.menu{
                        li{
                            a{
                                &:hover{
                                    color: #927908;
                                }
                            }
                        }
                    }
                    .contact{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: center;
                        min-height: 110px;
                    }
                }
            }
            .data{
                text-align: center;
                span{
                    color: #927908;
                }
            }
        }
    }
}
